/*********************************Tags*************************/

body {
    background-color: lightcyan;
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin-top: 50px;
    margin-bottom: -15px;
    font-family: 'Sacramento', cursive;
    font-size: 5.8rem;
    color: darkcyan;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #1db6ad;
    padding: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    color: #66bfbf;
}

p {
    font-size: 1.3rem;
    line-height: 2;
}

hr {
    align-items: normal;
    background-color: none;
    border-style: none; /*kan evt bruke: dotted none none, og droppe border-top*/
    border-top: 8px dotted lightblue;
    height: 0px;
    width: 10%;
}


/*********************************class*************************/

.top {
    background-color: #a2d5f2;
    text-align: center;
    position: relative;
    padding-top: 50px;
}

.flagg {
    height: 2.3rem;
    width: 2.3rem;
    float:left;
    margin: -40px 0 0 10px;    
}

.flagg:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
    
.heart {
    height: 2.3rem;
    width: 2.3rem;
    float:left;
    margin: 5px 0 0 10px;    
}

.heart:hover {
    box-shadow: 1px 1px 2px black, 0 0 25px rgb(255, 0, 85), 0 0 5px rgb(139, 0, 7);


}

.ny {
    text-decoration: underline;
    font-size: 1.9rem;
    font-weight: normal;
}

.sky1 {
    position: relative;
    left: 350px;
    height: 80px;
    width: 256px;
}

.sky2 {
    position: relative;
    right: 350px;
    bottom: 50px;
    height: 80px;
    width: 256px;
}
 
.middle1 {
    margin: 100px 0 100px 0;

}

.face {
    height: 12%;
    width: 12%;
    border-radius: 100%
}

.pc {
    height: 25%;
    width: 25%;
    border-radius: 100%;
    margin-right: 30px;
    float: left
}

.palla {
    height: 25%;
    width: 25%;
    border-radius: 100%;
    margin-left: 30px;
    float: right;
}


.f1 {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.mail {
    background: #A2C6EF;
    background-image: -webkit-linear-gradient(top, #A2C6EF, #49DEE5);
    background-image: -moz-linear-gradient(top, #A2C6EF, #49DEE5);
    background-image: -o-linear-gradient(top, #A2C6EF, #49DEE5);
    background-image: linear-gradient(to bottom, #A2C6EF, #49DEE5);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 15px;
    color: #000000;
    font-family: 'Montserrat' sans-serif;
    font-size: 20px;
    font-weight: 100;
    padding: 17px 40px 17px 40px;
    margin-top: 20px;
    box-shadow: 1px 1px 20px 0px #0059A0;
    -webkit-box-shadow: 1px 1px 20px 0px #0059A0;
    -moz-box-shadow: 1px 1px 20px 0px #0059A0;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.mail:hover {
    border: solid #4BEBAF 1px;
    background: #199F8C;
    background-image: -webkit-linear-gradient(top, #199F8C, #564AD9);
    background-image: -moz-linear-gradient(top, #199F8C, #564AD9);
    background-image: -o-linear-gradient(top, #199F8C, #564AD9);
    background-image: linear-gradient(to bottom, #199F8C, #564AD9);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
}

.bottom {
    background-color: darkslategrey;
    padding: 30px 0 30px 0;
    line-height: 2;
}

.footer-link {
    color: #11999e;
    font-family: 'montserrat' sans-serif;
    text-decoration: none;
    margin: 10px 20px 10px 20px;
    font-size: 1.3rem;
}

.footer-link:hover {
    color: darkgoldenrod;
}

.copyright {
    color: ghostwhite;
    font-size: 0.8rem;
}
